*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-color: yellowgreen;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: #fff;
    background-color: #ff5a5f;
    border: none;
    padding: 0.4rem 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.6) 6px 6px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.add:active{
    transform: scale(0.98);
}

.note{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 7px;
    margin: 30px 20px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.note img{
    width: 20px;
    position: absolute;
    background-color: transparent;
}

.note .tools{
    background-color: #ff5a5f;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 0.5rem;
}

.note .tools button i{
    margin-right: 5px;
}

.note textarea{
    outline: none;
    font-size: 1.2rem;
    border: 2px solid #ff5a5f;
    color: #ff5a5f;
    width: 100%;
    padding: 20px 0 0 20px;
}

.hidden {
    display: none;
}

.main{
    padding: 20px 30px;
}

.main h1{
    margin-bottom: 10px;
}

.main ul li {
    margin-bottom: 5px;
}